# Sistema operativo
.DS_Store
Thumbs.db

# Editores
*.swp
*.swo
.idea/
.vscode/
*.sublime-*

# Archivos temporales
*.tmp
*.temp
*~

# Node (por si alguien añade herramientas)
node_modules/
package-lock.json
